body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: sans-serif;
}

.card {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(20px);
  padding: 40px;
  border-radius: 20px;
  width: 360px;
  text-align: center;
  color: #fff;
}

.wave {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.wave span {
  width: 6px;
  height: 25px;
  background: white;
  margin: 0 4px;
  border-radius: 10px;
  animation: wave 1s infinite ease-in-out;
  animation-play-state: paused;
}

.wave.active span {
  animation-play-state: running;
}

@keyframes wave {
  0%,100% { height: 20px; }
  50% { height: 45px; }
}

button {
  margin: 8px;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

#stopBtn {
  background: #ff4d4d;
  color: white;
}


.footer {
  position: fixed;
  bottom: 20px;
  right: 24px;
  font-size: 16px;
  color: rgba(1, 29, 44, 0.9);
}

.heart {
  display: inline-block;
  margin-left: 3px;
  color: #940620;
  font-size: 22px;
  animation: heartbeat 1.2s infinite;
  filter: drop-shadow(0 0 6px rgba(255,90,122,0.6));
}

@keyframes heartbeat {
  /* 0% { transform: scale(1); }
  25% { transform: scale(1.3); }
  50% { transform: scale(1); }
  75% { transform: scale(1.25); }
  100% { transform: scale(1); } */

    0%, 100% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.25);
    opacity: 1;
  }

}
